.button {
  display: block;
  width: fit-content;
  color: white;
  padding: 8px 16px;
  background-color: #0e639c;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;

  &:disabled {
    opacity: 0.6;
  }
}
